.searchItem {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between; /* Add this line */
  gap: 20px; /* Add this line */
  margin-bottom: 20px;
}

.siImg {
  width: 140px;
  height: 160px;
  object-fit: cover;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
}

.siTitle {
  font-size: 25px;
  color: #0071c2;
}

.siDistance {
  font-size: 12px;
}

.siTaxiOp {
  font-size: 12px;
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 3px;
  border-radius: 5px;
}

.siSubtitle{
  font-size: 15px;
  font-weight: bold;
}

.siFeatures{
  font-size: 15px;
}

.siCancelOp{
  font-size: 12px;
  color: #008009;
  font-weight: bold;
}

.siCancelOpSubtitle{
  font-size: 12px;
  color: #008009;
}

.siDetails {
  margin-top: 10px;
  width: 150px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1px;
  margin-bottom: 10px
}

.siRating{
  display: flex;
  justify-content: space-between
}

.siRating>span{
  font-weight: 500;
}
.siRating>button{
 background-color: #003580;
 color: white;
 padding: 5px;
 font-weight: bold;
 border: none;
 border-radius: 5px;
}

.siDetailTexts{
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.siPrice{
  font-size: 20px;
  margin-top: 20px;
}

.siTaxOp{
  font-size: 12px;
  color: gray;
}

.siCheckButton{
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  align-self: end;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltipText p {
  margin: 0;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.deleteIcon {
  cursor: pointer;
  margin-left: 86px;
}